language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
# command to install dependencies
install: "pip install --allow-external -r requirements.txt"
# # command to run tests
script: nosetests
