include *.md
include *.scm
include *.sh
include *.txt
recursive-include worldengine *.py
recursive-include worldengine *.sh
recursive-include worldengine *.proto
recursive-include docs *.html
prune appveyor
prune manual
prune tests
prune tox.ini
prune *.yml
prune *.cfg
