include *.md
include *.sh
include *.txt
recursive-include worldengine *.py
recursive-include worldengine *.sh
recursive-include worldengine *.proto
prune appveyor
prune tests
prune tox.ini
prune *.yml
prune *.cfg