<!DOCTYPE html>
<html>
	<head>
		<title>Lands - {{title}}</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/starter-template.css')}}" />
	</head>
	<body>
	


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('homepage')}}">Lands</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="url_for('worlds_list')">Worlds</a></li>-->
            <li><a href="{{url_for('create_world_view')}}">Create world</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        {% block content %}{% endblock %}
      </div>

    </div><!-- /.container -->


    	<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    	<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
	</body>
</html>