{%- macro form_field_label(field) -%}
<label for="{{ field.id }}">{{ field.label.text }}
{%- if field.flags.required -%}
<abbr title="Required field">*</abbr>
{%- endif %}</label>
{% endmacro %}
 
{%- macro form_field_description(field) -%}
{% if field.description %}
<span class="descr">{{ field.description }}</span>
{% endif %}
{%- endmacro -%}
 
{%- macro form_field_errors(field) -%}
{% if field.errors %}
<div>
{%- for error in field.errors -%}
<span class="label important">{{ error }}</span>
{%- endfor -%}
</div>
{% endif %}
{%- endmacro -%}
 
{%- macro form_field_boolean(field) -%}
<div class="input">
<label>
{{ field(**kwargs) }}
<span>{{ field.label.text }}</span>
{{ form_field_description(field) }}
{{ form_field_errors(field) }}
</label>
</div>
{%- endmacro -%}
 
{%- macro action_buttons(submit_title, cancel_title="Zurück setzten", submit_class="primary") -%}
<div class="actions">
<input type="submit" class="btn {{submit_class}}" value="{{submit_title}}">
&nbsp;
<button type="reset" class="btn">{{cancel_title}}</button>
</div>
{%- endmacro -%}
 
{%- macro form_field(field) -%}
<div class="clearfix">
{% if field.type == 'HiddenField' %}
{{ field() }}
{% else %}
{% if field.type == 'BooleanField' %}
{{ form_field_boolean(field, **kwargs) }}
{% else%}
{{ form_field_label(field) }}
<div class="input" id="{{field.id}}-div">
{% if field.type == 'RadioField' %}
{{ field(class='radio-group', **kwargs) }}
{% else %}
{{ field(**kwargs) }}
{% endif %}
{{ form_field_description(field) }}
{{ form_field_errors(field) }}
</div>
{% endif %}
{% endif %}
</div>
{%- endmacro -%}
 
{%- macro form_fields(fields, class=None, legend=None) -%}
<fieldset {% if class %}class="{{class}}"{% endif %}>
{% if legend %}
<legend>{{legend}}</legend>
{% endif %}
{% for field in fields %}
{% if field.type == 'HiddenField' %}
{{ field() }}
{% else %}
{{ form_field(field) }}
{% endif %}
{% endfor %}
</fieldset>
{%- endmacro -%}